@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.rbc-time-content {
  border-top: 1px solid #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  .rbc-time-content, .rbc-day-slot .rbc-time-slot {
    background-color: #1a202c;
  }
  .rbc-time-content {
    border-top-color: #2d3748;
  }
  .rbc-time-header-content, .rbc-time-content, .rbc-time-header-content .rbc-time-header-cell, .rbc-time-content > * {
    border-color: #2d3748 !important;
  }
  .rbc-time-slot, .rbc-day-slot .rbc-time-slot {
    border-color: #2d3748;
  }
  .rbc-header {
    border-bottom: 1px solid #2d3748;
    background-color: #1a202c;
  }
  .rbc-time-gutter, .rbc-header {
    color: #a0aec0;
  }
  .rbc-time-gutter {
    background-color: #1a202c;
  }
  .rbc-today {
    background-color: #2d3748;
  }
}