@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.rbc-time-content {
  border-top: 1px solid #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  .rbc-time-content {
    border-top-color: #4a5568;
  }
  .rbc-time-header-content, .rbc-time-content, .rbc-time-header-content .rbc-time-header-cell, .rbc-time-content > * {
    border-color: #4a5568 !important;
  }
  .rbc-time-slot, .rbc-day-slot .rbc-time-slot {
    border-color: #4a5568;
  }
  .rbc-header {
    border-bottom: 1px solid #4a5568;
  }
  .rbc-time-gutter, .rbc-header {
    color: #cbd5e0;
  }
}